.panel.panel-primary
  .panel-heading
    Objects
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th Key
        %th Size
        %th Type
        %th Last Modified
    %tbody
      -objects.each do |obj|
        %tr
          %td= obj['key']
          %td= obj['size']
          %td= obj['content_type']
          %td= Time.at(obj['last_modified']).strftime('%Y-%m-%d %H:%M:%S')
