.panel.panel-primary
  .panel-heading
    Buckets
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th Name
    %tbody
      -buckets.each do |bucket|
        %tr
          %td
            %a{ href: "/#{bucket}" }= bucket
